<table>
    <tbody>
        <tr>
            <th>Upvotes</th>
            <th>Title</th>
            <th>Pic</th>
        </tr>
    </tbody>
</table>

<ul>
    {{#each posts}}
    <li>{{title}} - {{link}}</li>
    {{/each}}
</ul>